
<div class="container">
  <h2>Change password:</h2>
<form (ngSubmit)="updatePassword()">
  <div class="field">

    <label for="oldPassword">Old Password:</label>
    <input type="password" id="oldPassword" [(ngModel)]="oldPassword" name="oldPassword">
  </div>
  <div>
    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword">
  </div>
  <br>
  <button mat-raised-button color="primary"type="submit">Update Password</button>

  <div class="notification is-info is-light" *ngIf="showNotification">
    <button class="delete" (click)="closeNotification()"></button>
    Password has been updated!
  </div>
</form>
</div>
