<mat-toolbar >
  <ng-container>
    <h1>BROKENSPOKE</h1>
    <span class="example-spacer"></span>

    <button *ngIf="! isLoggedIn()" mat-raised-button color="primary" routerLink="/login">Log In</button>
    <button *ngIf="! isLoggedIn()" mat-raised-button color="primary" routerLink="/signup">Sign Up</button>
    <button *ngIf="isLoggedIn()" mat-raised-button color="accent" (click)="logout()">Log Out</button>
  </ng-container>

</mat-toolbar>

<mat-toolbar *ngIf="isLoggedIn()">
  <button mat-raised-button  routerLink="/">Home</button>
  <button *ngIf="isAdmin()" mat-raised-button routerLink="/employees/list">List employees</button>
  <button *ngIf="isEmployee()" mat-raised-button routerLink="/employee/repairs">List my repairs</button>
</mat-toolbar>

<app-employee *ngIf="isLoggedIn() && isEmployee()"></app-employee>
<app-admin *ngIf="isLoggedIn() && isAdmin()"></app-admin>

