.example-spacer {
  flex: 1 1 auto;
}
h1{
  color:rebeccapurple;
  font-size: 30px;
  font-weight: bold;
  font-family: system-ui;
}
h3{
  margin-right: 15%;
  font-size: 25px;
}
a{
  margin-right: 10%;
}

span {
  font-size: 30px;
  color: orangered;
  font-weight: bold;
  font-family: system-ui;
}
ng-container{
  letter-spacing: 1px;
  background-color: forestgreen;
}



html{
  background-color: black;
}

mat-toolbar{
  background-color:mediumturquoise;
}
